<div class="column content">
    <h3>Login</h3>

    <?php 
    echo $this->Form->Create();
    ?>

    <fieldset>
    <?php
    echo $this->Form->input('email',[
    'label' => 'E-mail',
    'placeholder' => 'Digite seu E-mail'
    ]);
    echo $this->Form->input('password',[
    'label' => 'Senha',
    'placeholder' => '******'
    ]);
    echo $this->Form->Button('Entrar');
    echo $this->Form->end();
    ?>

    </fieldset>

</div>